.skills {
    h2 {
        text-align: center;
    }

    .skills_list {
        margin-top: 24px;

        ul {
            display: flex;
            flex-wrap: nowrap;
            margin-right: -16px;
            margin-bottom: -16px;
            flex-wrap: wrap;

            li {
                width: calc(100% / 3);
                padding-right: 16px;
                padding-bottom: 16px;

                a {
                    display: block;

                    img {
                        width: 120px;
                        height: auto;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
        }
    }
}