.custom_btn {
    background-color: var(--base);
    width: fit-content;
    padding: 0 24px;
    height: 44px;
    font-size: 16px;
    color: var(--box);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 2px solid var(--base);
    transition: 300ms ease-in-out;

    &:enabled {
        &:hover {
            color: var(--base);
            background-color: transparent;
        }
    }

    .custom_spinner {
        --color: var(--text);
    }
}