.contact {
    text-align: center;

    .custom_badge {
        margin: 0 auto;
    }

    h2 {
        margin: 6px 0 12px;
    }

    p {
        color: var(--text);
        font-size: 16px;
        max-width: 466px;
        margin: 0 auto 20px;

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }

    .custom_btn {
        svg {
            margin-left: 8px;
        }
    }
}