:root {
    --base: #3377FF;
    --secondary: #285BCC;
    --text: #323232;
    --light-text: #787878;
    --medium-text: #464646;
    --u-light-text: #6E6E6E;
    --border: #C3C3C3;
    --border-light: #EBEBEB;
    --box: #FAFAFA;
    --disable: #D9D9D9;
    --container: #fff;
    --body: linear-gradient(107deg, #F1F1F1 0%, #F1F5FE 100%);
}