.home {
    .home_in {
        background-color: var(--container);
        padding: 0px 32px 18px;
        min-height: 100dvh;

        @media (max-width: 575px) {
            padding: 0 16px 16px;
        }

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 4px;

            @media (max-width: 575px) {
                font-size: 16px;
            }
        }

        .custom_badge {
            background-color: var(--text);
            color: var(--box);
            width: fit-content;
            height: auto;
            font-size: 14px;
            padding: 4px 8px;
            border-radius: 10px;

            @media (max-width: 575px) {
                font-size: 12px;
                padding: 2px 6px;
                border-radius: 6px;
            }
        }
    }
}