.home {
    .home_in {
        background-color: var(--container);
        padding: 32px 18px;
        min-height: 100dvh;

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 4px;
        }
    }
}