.social-media {
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: var(--container);
    z-index: 10;

    hr {
        margin: 10px 0 0;
    }

    ul {
        display: flex;
        align-items: center;

        li {

            &:not(:last-child) {
                margin-right: 16px;
            }

            &:first-child {
                margin-right: auto;

                h3 {
                    font-size: 16px;

                    @media (max-width: 419px) {
                        font-size: 12px;
                    }
                }
            }

            a {
                background-color: var(--box);
                padding: 6px;
                border-radius: 6px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 419px) {
                    width: 24px;
                    height: 24px;
                    padding: 3px
                }

                svg {
                    width: 24px;
                    height: 24px;
                    color: var(--text);
                }
            }
        }
    }
}